@page
@model BookLibrary.Pages.BooksList.EditModel
@{
    ViewData["Title"] = "Edit";
}


<h2>Edit an Existing Book</h2>
<br />
<hr />

<div style="border:3px solid #bbb9b9; border-radius:10px;">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input hidden asp-for="books.Id" />
        <div class="row" style="padding:30px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="books.BookName"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="books.BookName" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="books.BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="books.AuthorName"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="books.AuthorName" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="books.AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="books.ISBN"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="books.ISBN" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="books.ISBN" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary btn-sm" />
                <a asp-page="Index" class="btn btn-success btn-sm">Go back to the our books list</a>
            </div>
        </div>
    </form>

</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
