@page
@model BookLibrary.Pages.BooksList.IndexModel


<br />
<h2>Books List</h2>
<hr />
<br />
<a asp-page="Create" class="btn btn-primary">Add New Book</a>

@if (Model.books.Count() > 0)
{
    <div> Here are the available books</div>
}
else
{
    <div>No books in the list</div>
}
